<div class="home-container">
  <header class="header">
    <img src="https://github.com/Willvsr/Taiko_site/blob/master/kouryuu_site/src/assets/Logo.png" alt="Kouryuu Daiko" class="logo">
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>

  <section class="section">
    <img src="https://github.com/Willvsr/Taiko_site/blob/master/kouryuu_site/src/assets/taiko1.jpg" alt="Taiko" class="circle-image left">
    <div class="text">
      <h2>Taiko com diversidade</h2>
      <p>
        Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis...
      </p>
    </div>
  </section>

  <section class="section">
    <div class="text">
      <h2>Levamos a tradição e cultura</h2>
      <p>
        Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis...
      </p>
    </div>
    <img src="https://github.com/Willvsr/Taiko_site/blob/master/kouryuu_site/src/assets/taiko2.png" alt="Taiko" class="circle-image right">
  </section>

  <section class="events">
    <h3>Próximas apresentações:</h3>
    <div class="event-card">
      <h4>Nome do Evento</h4>
      <p>Local: Rua Exemplo, 123</p>
      <p>Data 99/99/9999</p>
    </div>
  </section>

  <footer class="sponsors">
    <p>Patrocinadores:</p>
    <img src="https://github.com/Willvsr/Taiko_site/blob/master/kouryuu_site/src/assets/cenibralogo.png" alt="Patrocinador 1">
    <img src="https://github.com/Willvsr/Taiko_site/blob/master/kouryuu_site/src/assets/ruanetlogo.png" alt="Patrocinador 2">
    <img src="https://github.com/Willvsr/Taiko_site/blob/master/kouryuu_site/src/assets/federallogo.png" alt="Patrocinador 3">
  </footer>

</div>